#main {
    padding-top: 3.5em;
    padding-bottom: 1em
}

.avatar picture,
.avatar img {
    width: 14em;
    height: auto;
}

section#main>ul.actions.special>li>a>img {
    height: 1.2em;
    margin-bottom: -0.3em;
}

ul.orizzontale.actions:not(.fixed) {
    margin: 0;
}

a.button.it_flag {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a.button.it_flag {
    background-image: linear-gradient(#ffffff77, #ffffffff 15% 85%, #ffffff77), url(./images/it_flag.svg);
}


@media screen and (max-width: 480px) {
    ul.orizzontale.actions:not(.fixed) {
        flex-direction: row;
    }

    ul.orizzontale.actions:not(.fixed) li {
        margin: 0 2px;
        padding: 0;
    }

    a.button.it_flag {
        background-image: linear-gradient(#ffffff77, #ffffffff 25% 75%, #ffffff77), url(./images/it_flag.svg);
    }
}

ul {
    margin: 0 0 1em 0;
}

a.osm_link,
a.mastodon_link {
    display: none;
}