/* https://thomasf.github.io/solarized-css/solarized-light.min.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
html{font-family:'PT Sans',sans-serif}
pre,code{font-family:'Inconsolata',sans-serif}
h1,h2,h3,h4,h5,h6{font-family:'PT Sans Narrow',sans-serif;font-weight:700}
html{background-color:#eee8d5;color:#657b83;margin:1em}
body{background-color:#fdf6e3;margin:0 auto;max-width:23cm;border:1pt solid #93a1a1;padding:1em}
code{background-color:#eee8d5;padding:2px}
a{color:#b58900}
a:visited{color:#cb4b16}
a:hover{color:#cb4b16}
h1{color:#d33682}
h2,h3,h4,h5,h6{color:#859900}
pre{background-color:#fdf6e3;color:#657b83;border:1pt solid #93a1a1;padding:1em;box-shadow:5pt 5pt 8pt #eee8d5}
pre code{background-color:#fdf6e3}
h1{font-size:2.8em}
h2{font-size:2.4em}
h3{font-size:1.8em}
h4{font-size:1.4em}
h5{font-size:1.3em}
h6{font-size:1.15em}
.tag{background-color:#eee8d5;color:#d33682;padding:0 .2em}
.todo,.next,.done{color:#fdf6e3;background-color:#dc322f;padding:0 .2em}
.tag{-webkit-border-radius:.35em;-moz-border-radius:.35em;border-radius:.35em}
.TODO{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#2aa198}
.NEXT{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#268bd2}
.ACTIVE{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#268bd2}
.DONE{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#859900}
.WAITING{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#cb4b16}
.HOLD{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#d33682}
.NOTE{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#d33682}
.CANCELLED{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;background-color:#859900}



body { /* Centra nella pagina */
	text-align: center;
}

table, fieldset, iframe { /* Centra nella pagina gli elementi che non rispettano text-align */
	margin-left: auto;
	margin-right: auto;
}

li { /* Centra nella pagina anche gli indicatori delle liste */
	list-style-position: inside;
}

ul { /* Imposta come indicatore delle liste non ordinate i quadrati */
	list-style-type: square;
}

ol { /* Imposta come indicatore delle liste ordinate le lettere greche */
	list-style-type: lower-greek;
}

dt { /* Definizioni della definition list in grassetto */
	font-weight: bold;
}

input, button, select, textarea, hr, video { /* Spaziamento verticale */
	margin-top: 10px;
	margin-bottom: 10px;
}

hr, fieldset { /* Dimensione orizzontale form */
	width: 50%;
}

table { /* Evita bordi doppi nella tabella */
	border-collapse: collapse;
}

th, td  { /* Bordi della tabella */
	border: 1px solid black;
	padding: 5px;
}

thead tr:hover { /* Colora l'header della tabella di azzurro con mouseover */
	background-color: lightblue;
}

tbody tr:hover { /* Colora il corpo della tabella di verde chiaro con mouseover */
	background-color: lightgreen;
}

tfoot tr:hover { /* Colora il footer della tabella di giallo con mouseover */
	background-color: yellow;
}

video, iframe.yt { /* Dimensione orizzontale video */
	width: 80%;
	height: 80%;
}

div.yt { /* Embed youtube con formato 16:9  ( 9/16 = 0.5625 = 56.25% ) */
	position: relative;
	padding-bottom: 56.25%;
}

iframe.yt { /* Centra embed youtube */
	position: absolute;
	left: 0;
	right: 0;
}
