@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';

/*
	Identity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

// Breakpoints.

	@include breakpoints((
		xlarge:    (1281px,   1680px   ),
		large:     (961px,    1280px   ),
		medium:    (737px,    960px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

/* Icon (alt) */

	@mixin icon-alt($content: false, $link: false) {
		@include icon($content);
		$size: _size(border-width) * 1.25;

		&:before {
			color: _palette(bg);
			text-shadow: $size 0px 0px _palette(border),
						($size * -1) 0px 0px _palette(border),
						0px $size 0px _palette(border),
						0px ($size * -1) 0px _palette(border);

		}

		@if $link {
			&:hover {
				&:before {
					text-shadow: $size 0px 0px _palette(highlight),
								($size * -1) 0px 0px _palette(highlight),
								0px $size 0px _palette(highlight),
								0px ($size * -1) 0px _palette(highlight);
				}
			}
		}
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/form';
	@import 'components/icon';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/button';

// Layout.

	@import 'layout/main';
	@import 'layout/footer';
	@import 'layout/wrapper';
